<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Template File</title>
  </head>
  <body>
    <h1>Welcome to the template for python app</h1>

    <div>
        {% if topic_dict %}
        <table>
            <th>Topic Name</th>
            {% for topic in topic_dict %}
            <tr>
                <td>{{ topic.top_name }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No topic exist</p>
        {% endif %}
    </div>

  </body>
</html>
